.DS_Store
node_modules
/dist

/tests/e2e/videos/
/tests/e2e/screenshots/

.nx
.angular/

.cache
# local env files
.env.local
.env.*.local
.env

/_archive/


apps/**/*-account.json
secret

/obj

*-secrets.yaml
*-config.yaml

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

*secrets.yaml
ingress-nginx-controller.yaml
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Certificates and Keys
*.key
*.crt
*.csr
*.pem
*.crl
*.ext
*.srl

logs.txt
*.srl

vite.config.*.timestamp*
vitest.config.*.timestamp*

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

*.env*
!.env.staging
!.env.production

_archive
!styles.css

*.css.map
service-account.json

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

scripts
# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

obj

.nx/cache
.nx/workspace-data

.angular


storybook-static
vite.config.*.timestamp*
vitest.config.*.timestamp*
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md