html {
	margin: 0;
}
:root {
	--background: #fefefe;
	--mobile-nav-bg: #fefefe;
	--foreground: #111111;
	--muted-foreground: #2f3846;
	--muted-foreground-2: #95a7c1;
	--accent: #f1f6fd;
	--accent-2: #f1f6fd;
	--accent-3: #f1f6fd;
	--accent-complimentary: #1f2937;
	--accent-complimentary-2: var(--accent-complimentary);
	--about-bg: #ffffff;
	--pf-c-form__label--FontSize: 1rem;
	--form-border: #dce6f3;
	--input-focus: rgb(16, 15, 15);
	--header-bg: #fefefe;
	--shadow-color: rgba(0, 0, 0, 0.05);
	--btn-hover: #293648;
	--a-hover: #293648;
	--btn-bg: var(--accent-complimentary);
}

@media (prefers-color-scheme: dark) {
	:root {
		--glow: rgba(255, 255, 255, 0.06); /* soft white glow on dark bg */

		--background: #0a0a0a;
		--mobile-nav-bg: rgba(10, 10, 10) / 90;

		--foreground: #f7f8f8;
		--muted-foreground: #94a3b8;
		--muted-foreground-2: #95a7c1;

		--accent: rgba(225, 205, 247, 0.1);
		--accent-2: rgba(0, 0, 0, 0.9);
		--accent-3: #0a0a0a;

		--accent-complimentary: rgb(0 0 0 / 10%);
		--accent-complimentary-2: rgba(255, 255, 255, 0.9);
		--about-bg: rgb(0, 0, 0);
		--form-border: rgba(220, 193, 254, 0.4);
		--input-focus: #596f8c;
		--header-bg: #0e1014;
		--shadow-color: rgba(255, 255, 255, 0.1);
		--btn-hover: rgb(255 255 255 / 100%);
		--a-hover: rgb(255 255 255);
		--btn-bg: rgba(255, 255, 255, 0.9);
	}
}

.login-pf {
	background: none;
}

.pf-c-button.pf-m-control:hover {
	--pf-c-button--m-control--BackgroundColor: inherit;
}

.login-pf body {
	background: url('../img/keycloak-bg.png') no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	color: var(--foreground);
	/* background: var(--background); */
	font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
		Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont,
		Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji,
		Segoe UI Symbol, Noto Color Emoji;
	margin: 0;
	padding: 0;
	letter-spacing: 0;
	line-height: 1.625;
	font-size: 1.125rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
	.login-pf body {
		background: url('../img/keycloak-bg-accented.png') no-repeat center
			center fixed;
		background-size: cover;
		/* background: var(--background); */
	}
}

textarea.pf-c-form-control {
	height: auto;
}

.pf-c-alert__title {
	font-size: var(--pf-global--FontSize--xs);
	color: inherit;
}

.form-group.login-pf-settings {
	display: none;
}

p.instruction {
	margin: 5px 0;
}

.pf-c-button {
	border: none;
}

.pf-c-button.pf-m-control {
	border-color: rgba(230, 230, 230, 0.5);
}

.pf-c-button.pf-m-primary {
	background-color: var(--btn-bg);
	color: var(--accent-3);
	border-radius: 0.5rem;
	padding: 0.9rem 0;
	/* font-size: 1rem; */
	letter-spacing: 0em;
	font-size: 1rem;
	line-height: 1.25rem;
	font-weight: 500;
	border: 1px solid rgba(220, 193, 254, 0.4);
}

.pf-c-button.pf-m-primary:hover {
	background-color: var(--btn-hover);
}

.form-group label {
	margin-bottom: 0.5rem;
	font-size: 14px;
}

h1#kc-page-title {
	color: var(--accent-complimentary-2);
	font-size: 1.875rem;
	line-height: 2.25rem;
	text-align: left;
	font-weight: 400;
	max-width: 16rem;
}

.subtitle {
	font-size: 14px;
	margin-bottom: 0.75rem;
}

#kc-locale ul {
	background-color: var(--pf-global--BackgroundColor--100);
	display: none;
	top: 20px;
	min-width: 100px;
	padding: 0;
}

#kc-locale-dropdown {
	display: inline-block;
}

#kc-locale-dropdown:hover ul {
	display: block;
}

#kc-locale-dropdown a {
	color: var(--pf-global--Color--200);
	text-align: right;
	font-size: var(--pf-global--FontSize--sm);
}

#kc-locale-dropdown button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	color: var(--pf-global--Color--200);
	text-align: right;
	font-size: var(--pf-global--FontSize--sm);
}

button#kc-current-locale-link::after {
	content: '\2c5';
	margin-left: var(--pf-global--spacer--xs);
}

.login-pf .container {
	padding-top: 40px;
}

.login-pf a:hover {
	color: var(--a-hover);
}

#kc-logo {
	width: 100%;
}

div.kc-logo-text {
	background-image: url(../img/keycloak-logo-text.png);
	background-repeat: no-repeat;
	height: 63px;
	width: 300px;
	margin: 0 auto;
}

div.kc-logo-text span {
	display: none;
}

#kc-header {
	color: #ededed;
	overflow: visible;
	white-space: nowrap;
}

#kc-header-wrapper {
	font-size: 18px;
	line-height: 1.2em;
	white-space: normal;
	color: var(--foreground);
	text-align: right;
	box-shadow: 0 1px 1px 0 var(--shadow-color);
	padding: 1rem 2rem;
}

#kc-content {
	width: 100%;
}

#kc-attempted-username {
	font-size: 20px;
	font-family: inherit;
	font-weight: normal;
	padding-right: 10px;
}

#kc-username {
	text-align: center;
	margin-bottom: -10px;
}

#kc-webauthn-settings-form {
	padding-top: 8px;
}

#kc-form-webauthn .select-auth-box-parent {
	pointer-events: none;
}

#kc-form-webauthn .select-auth-box-desc {
	color: var(--pf-global--palette--black-600);
}

#kc-form-webauthn .select-auth-box-headline {
	color: var(--pf-global--Color--300);
}

#kc-form-webauthn .select-auth-box-icon {
	flex: 0 0 3em;
}

#kc-form-webauthn .select-auth-box-icon-properties {
	margin-top: 10px;
	font-size: 1.8em;
}

#kc-form-webauthn .select-auth-box-icon-properties.unknown-transport-class {
	margin-top: 3px;
}

#kc-form-webauthn .pf-l-stack__item {
	margin: -1px 0;
}

#kc-content-wrapper {
	margin-top: 20px;
}

#kc-form-wrapper {
	margin-top: 10px;
	color: var(--accent-complimentary-2);
	font-size: 16px;
}

#kc-info-wrapper {
	font-size: 13px;
	padding: 15px 35px;
	box-shadow: inset 0 1px 1px 0 var(--shadow-color);
}

#kc-form-options span {
	display: block;
}

#kc-form-options .checkbox {
	margin-top: 0;
	color: #72767b;
}

#kc-terms-text {
	margin-bottom: 20px;
}

#kc-registration-terms-text {
	max-height: 100px;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 5px;
}

#kc-registration {
	margin-bottom: 0;
	color: var(--foreground);
}

/* TOTP */

.required {
	--pf-global--danger-color--200: #ffbebe;
	font-size: 0.75rem;
}

ol#kc-totp-settings {
	margin: 0;
	padding-left: 20px;
}

ul#kc-totp-supported-apps {
	margin-bottom: 10px;
}

#kc-totp-secret-qr-code {
	max-width: 150px;
	max-height: 150px;
}

#kc-totp-secret-key {
	background-color: #fff;
	color: #333333;
	font-size: 16px;
	padding: 10px 0;
}

/* OAuth */

#kc-oauth h3 {
	margin-top: 0;
}

#kc-oauth ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#kc-oauth ul li {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	font-size: 12px;
	padding: 10px 0;
}

#kc-oauth ul li:first-of-type {
	border-top: 0;
}

#kc-oauth .kc-role {
	display: inline-block;
	width: 50%;
}

/* Code */
#kc-code textarea {
	width: 100%;
	height: 8em;
}

/* Social */
.kc-social-links {
	margin-top: 20px;
}

.kc-social-links li {
	width: 100%;
}

.kc-social-provider-logo {
	font-size: 23px;
	width: 30px;
	height: 25px;
	float: left;
}

.kc-social-gray {
	color: var(--pf-global--Color--200);
}

.kc-social-gray h2 {
	font-size: 1em;
}

.kc-social-item {
	margin-bottom: var(--pf-global--spacer--sm);
	font-size: 15px;
	text-align: center;
}

.kc-social-provider-name {
	position: relative;
}

.kc-social-icon-text {
	left: -15px;
}

.kc-social-grid {
	display: grid;
	grid-column-gap: 10px;
	grid-row-gap: 5px;
	grid-column-end: span 6;
	--pf-l-grid__item--GridColumnEnd: span 6;
}

.kc-social-grid .kc-social-icon-text {
	left: -10px;
}

.kc-login-tooltip {
	position: relative;
	display: inline-block;
}

.kc-social-section {
	text-align: center;
}

.kc-social-section hr {
	margin-bottom: 10px;
}

.kc-login-tooltip .kc-tooltip-text {
	top: -3px;
	left: 160%;
	background-color: black;
	visibility: hidden;
	color: #fff;

	min-width: 130px;
	text-align: center;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
	padding: 5px;

	position: absolute;
	opacity: 0;
	transition: opacity 0.5s;
}

/* Show tooltip */
.kc-login-tooltip:hover .kc-tooltip-text {
	visibility: visible;
	opacity: 0.7;
}

/* Arrow for tooltip */
.kc-login-tooltip .kc-tooltip-text::after {
	content: ' ';
	position: absolute;
	top: 15px;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent black transparent transparent;
}

@media (min-width: 768px) {
	#kc-content {
		padding: 0rem 2rem 2rem 2rem;
	}
	#kc-container-wrapper {
		position: absolute;
		width: 100%;
	}

	.login-pf .container {
		padding-right: 80px;
	}

	.login-pf-page {
		display: flex;
		align-items: center;
		min-height: 100vh;
	}

	.login-pf-page .card-pf {
		padding: 0;
		border-radius: 0.5rem;
		max-width: 500px;
		margin: 0 auto;
	}

	#kc-locale {
		position: relative;
		text-align: right;
		z-index: 9999;
	}
}

.col-md-10 {
	padding-left: 0px;
}

@media (max-width: 767px) {
	h1#kc-page-title {
		font-size: 2rem;
	}
	#kc-header {
		/* padding: 1rem 1.5rem; */
		padding: 0;
		float: none;
		text-align: left;
		height: 5rem;
		background: var(--header-bg);
		margin-bottom: 0rem;
	}

	#kc-header-wrapper {
		font-size: 18px;
		font-weight: 400;
		padding: 0 1.5rem;
		color: var(--foreground);
		letter-spacing: 0;
		height: 5rem;
		display: flex;
		align-items: center;
	}

	div.kc-logo-text {
		margin: 0;
		width: 150px;
		height: 32px;
		background-size: 100%;
	}

	#kc-form {
		float: none;
	}

	#kc-info-wrapper {
		box-shadow: inset 0 1px 1px 0 var(--shadow-color);
		background-color: transparent;
		padding-bottom: 2rem;
	}

	.login-pf .container {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	#kc-locale {
		position: absolute;
		width: 200px;
		top: 20px;
		right: 20px;
		text-align: right;
		z-index: 9999;
	}

	.col-md-10 {
		padding-left: 1.5rem;
	}
	.form-group label {
		font-size: 14px;
	}
}

@media (min-height: 646px) {
	#kc-container-wrapper {
		bottom: 12%;
	}
}

@media (max-height: 645px) {
	#kc-container-wrapper {
		padding-top: 50px;
		top: 20%;
	}
}

.card-pf form.form-actions .btn {
	float: right;
	margin-left: 10px;
}

#kc-form-buttons {
	margin-top: 3rem;
}

#kc-header-wrapper::before {
	content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
	background-image: url('https://cdn.eliasdebock.com/icons8-database-52.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 0.5em;
	vertical-align: middle;
}

@media (prefers-color-scheme: dark) {
	#kc-header-wrapper::before {
		background-image: url('https://cdn.eliasdebock.com/icons8-database-52%20(1).png');
	}
}

.login-pf-page .login-pf-brand {
	margin-top: 20px;
	max-width: 360px;
	width: 40%;
}

.login-pf-header {
	box-shadow: 0 1px 1px 0 var(--shadow-color);
}

.login-pf-page .login-pf-page-header {
	margin-bottom: 0;
}

.select-auth-box-arrow {
	display: flex;
	align-items: center;
	margin-right: 1.5rem;
}

.select-auth-box-icon {
	display: flex;
	flex: 0 0 2em;
	justify-content: center;
	margin-right: 1rem;
	margin-left: 3rem;
}

.select-auth-box-parent {
	border-top: 1px solid var(--pf-global--palette--black-200);
	padding-top: 1rem;
	padding-bottom: 1rem;
	cursor: pointer;
	text-align: left;
	align-items: unset;
	background-color: unset;
	border-right: unset;
	border-bottom: unset;
	border-left: unset;
}

.select-auth-box-parent:hover {
	background-color: #f7f8f8;
}

.select-auth-container {
	padding-bottom: 0px !important;
}

.select-auth-box-headline {
	font-size: var(--pf-global--FontSize--md);
	color: var(--pf-global--primary-color--100);
	font-weight: bold;
}

.select-auth-box-desc {
	font-size: var(--pf-global--FontSize--sm);
}

.select-auth-box-paragraph {
	text-align: center;
	font-size: var(--pf-global--FontSize--md);
	margin-bottom: 5px;
}

.card-pf {
	/* margin: 0 auto; */
	box-shadow: var(--pf-global--BoxShadow--md);
	padding: 0 20px;

	background-color: var(--accent-2);
	border-radius: 0.5rem;
	padding: 0rem;
}

/*phone*/
@media (max-width: 767px) {
	#kc-form-login {
		padding: 0 1.5rem;
	}
	.login-pf-page .card-pf {
		max-width: none;
		margin-left: 0;
		margin-right: 0;
		padding-top: 0;
		border-top: 0;
		box-shadow: 0 0;
		border-radius: 0;
		padding: 0;
		min-height: 100%;
	}

	.kc-social-grid {
		grid-column-end: 12;
		--pf-l-grid__item--GridColumnEnd: span 12;
	}

	.kc-social-grid .kc-social-icon-text {
		left: -15px;
	}

	#kc-register-form {
		padding: 0 1.5rem;
	}
}

.login-pf-page .login-pf-signup {
	font-size: 15px;
	color: #72767b;
}
#kc-content-wrapper .row {
	margin-left: 0;
	margin-right: 0;
}

.login-pf-page.login-pf-page-accounts {
	margin-left: auto;
	margin-right: auto;
}

.login-pf-page .btn-primary {
	margin-top: 0;
}

.login-pf-page .list-view-pf .list-group-item {
	border-bottom: 1px solid #ededed;
}

.login-pf-page .list-view-pf-description {
	width: 100%;
}

#kc-form-login div.form-group:last-of-type,
#kc-register-form div.form-group:last-of-type,
#kc-update-profile-form div.form-group:last-of-type,
#kc-update-email-form div.form-group:last-of-type {
	margin-bottom: 0px;
}

.no-bottom-margin {
	margin-bottom: 0;
}

#kc-back {
	margin-top: 5px;
}

/* Recovery codes */
.kc-recovery-codes-warning {
	margin-bottom: 32px;
}
.kc-recovery-codes-warning .pf-c-alert__description p {
	font-size: 0.875rem;
}
.kc-recovery-codes-list {
	list-style: none;
	columns: 2;
	margin: 16px 0;
	padding: 16px 16px 8px 16px;
	border: 1px solid #d2d2d2;
}
.kc-recovery-codes-list li {
	margin-bottom: 8px;
	font-size: 11px;
}
.kc-recovery-codes-list li span {
	color: #6a6e73;
	width: 16px;
	text-align: right;
	display: inline-block;
	margin-right: 1px;
}

.kc-recovery-codes-actions {
	margin-bottom: 24px;
}
.kc-recovery-codes-actions button {
	padding-left: 0;
}
.kc-recovery-codes-actions button i {
	margin-right: 8px;
}

.kc-recovery-codes-confirmation {
	align-items: baseline;
	margin-bottom: 16px;
}

#certificate_subjectDN {
	overflow-wrap: break-word;
}

#kc-form-wrapper {
	font-weight: 400;
}
Inputs input.pf-c-form-control,
input[type='text'],
input[type='email'],
input[type='password'],
textarea.pf-c-form-control {
	background-color: var(--about-bg);
	color: var(--muted-foreground);
	border-radius: 0.5rem;
	font-size: 1rem;
	width: 100%;
	border: 1px solid var(--form-border, #64676b);
	border-bottom-width: 1px;
	box-sizing: border-box;
	transition: border-color 0.2s ease, box-shadow 0.2s ease;
	height: 2.5rem;
}

input.pf-c-form-control:focus,
input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
textarea.pf-c-form-control:focus {
	outline: none;
	border: none;
	border: 1px solid var(--input-focus);
	color: var(--muted-foreground);
}

input::placeholder,
textarea::placeholder {
	color: var(--form-placeholder, #9ca3af);
	opacity: 1;
}

input[disabled],
textarea[disabled] {
	background-color: #f9fafb;
	color: #9ca3af;
	cursor: not-allowed;
}

.pf-c-input-group {
	background: none;
	display: flex;
	gap: 0.5rem;
}

.pf-c-button.pf-m-control {
	--pf-c-button--BorderRadius: 0.5rem; /* Set your custom border radius */
	--pf-c-button--after--BorderColor: rgba(220, 193, 254, 0.4);
	--pf-c-button--m-control--BackgroundColor: var(--about-bg);
}

.pf-c-button.pf-m-control:after {
	border-radius: 0.5rem;
}

.pf-c-button.pf-m-control:hover:after {
	border-bottom-width: 1px !important;
}
.pf-c-button.pf-m-control:focus:after {
	border-bottom-width: 1px !important;
}

.pf-c-button.pf-m-control:focus {
	--pf-c-button--m-control--BackgroundColor: inherit;
}

.fa.fa-eye {
	color: var(--foreground);
}

.fa.fa-eye-slash {
	color: var(--foreground);
}

.login-pf-page {
	padding-top: 0px;
}

@media (min-width: 767px) {
	.login-pf-header {
		padding: 0 2rem;
	}
}

#kc-form-options {
	font-size: 1rem;
	margin: 2rem 0;
}

a {
	color: var(--accent-complimentary-2);
}
a:focus {
	outline: none;
}

a:focus,
a:hover {
	color: #556974;
	text-decoration: underline;
	text-underline-offset: 4px;
}

.pf-c-form-control[aria-invalid='true'] {
	--pf-c-form-control--invalid--BorderBottomWidth: 1px;
}
