.admin-page {
  height: 110vh;
  padding: 4rem;
  padding-top: 6rem;
  overflow-y: auto;
}

.ui-content-switcher {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ui-content-switcher > div[section1],
.ui-content-switcher > div[section2] {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Optional: Additional styling to enhance layout */
.users-section {
  height: 500px; /* Or any suitable height */
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}
