.platform-layout {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 3rem);
  background-color: #f4f4f4;
  padding-top: 6rem;

  .platform-content {
    flex: 1;

    overflow: auto;
  }
}
