.login-container {
  min-height: 100vh; /* Ensures minimum height is 100% of the viewport */
  display: flex;
  flex-direction: column; /* Ensures that content inside behaves properly */
}

.page-content {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.login-section {
  flex: 0 0 38%; /* 62% for the login form */
  margin-top: 5rem;
}

.intro-image-section {
  flex: 0 0 62%; /* 38% for the intro image */
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 20px;
  background-color: #f1f1f1;
}

img {
  height: 100%;
  width: 100%;
}
