apiVersion: apps/v1
kind: Deployment
metadata:
  name: clara-client
  labels:
    app: clara-client
spec:
  replicas: 1
  selector:
    matchLabels:
      app: clara-client
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: clara-client
    spec:
      containers:
        - name: clara-client
          image: eliasdb/clara-client
          imagePullPolicy: Always
          ports:
            - containerPort: 80
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 15
            periodSeconds: 20
            timeoutSeconds: 5
            failureThreshold: 3
