:host {
  min-width: 90%;
}

.action-bar-items {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  position: relative;
  justify-content: space-between;
}

.logo {
  width: 3rem;
  border-radius: 10%;
}

.launcher-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.amount {
  position: absolute;
  top: 5px;
  right: -6px;
  background: #24262b;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 0.75rem;
  padding: 9px;
  color: antiquewhite;
}
